@import "~bootstrap/scss/bootstrap";

$body-color: slateblue;

body {
    // color: $body-color;
    // font-family: sans-serif;
}

.modal {
    &.show {
        display: block;
    }

    &::after {}
}

.modal-backdrop {
    display: none;

    &.show {
        display: block;
    }
}

.dropdown-toggle::after {
    transform: translateY(1px);
    margin-left: 10px;
}

.todo-done {
    opacity: 0.6;

    .shadow-sm {
        box-shadow: none !important;
    }
}

.dropdown-on {
    .dropdown-menu {
        display: block;
    }
}