@import "~bootstrap/scss/bootstrap";

$body-color: slateblue;

body {
    // color: $body-color;
    // font-family: sans-serif;
}

.modal {
    &.show {
        display: block;
    }

    &::after {}
}

.modal-backdrop {
    display: none;

    &.show {
        display: block;
    }
}